<div class="container">

    <!-- Main Page -->
    <div class="row shadow bg-white justify-content-center p-3 m-4">
        <!-- Title Text -->
        <div class="column justify-content-center">
            <h1 class="text-center text-primary">Help</h1>
  
            <h2 class="text-center">Questions and Answers</h2>
        </div>
   
    </div>
</div>
