<!-- title text -->
<div class='row justify-content-center w-100'>
  <% provide(:title, 'Reset Password') %>
  <h1 class='text-primary'>Reset Password</h1>
</div>

<div class="row w-50 justify-content-center pt-4">
  <div class="w-100">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.submit "Send Email", class: "btn btn-primary btn-block mt-3" %>
    <% end %>
  </div>
</div>