<!-- Title Text -->
<div class="column justify-content-center">
    <% provide(:title, "Help") %>
 <h1 class="text-center text-primary">Help</h1>

    <h2>How do I log in?</h2>
    <p>         <%= image_tag("LoginPage.png",width: '250px') %>
      <%= image_tag("SignUpPage.png",width: '250px') %>
        To log in, all you have to do is click the login button, and enter your
        credentials.  If you haven't make an account with us yet click the Sign up Now!
        link and you will be taken to our sign up page.  After filling out your
        information using your UNCC email address, you will be sent a varification email, once you verify
        you will be ready to use the site!

    </p>
   

    <h3>How do I post my ad?</h3>
    <p>
    I honestly don't know because I can't log in because bon stole my email
     </p>
</div>
