<!-- Title Text -->
<div class="column justify-content-center">
    <% provide(:title, "Help") %>
 <h1 class="text-center text-primary">Help</h1>

  <h2>How do I use UNCC Textbook Exchange safely?</h2>
  <p>We pride ourself in trying to make our application as safe as possible by 
  only allowing people with active UNC Charlotte emails to sign up.  With that 
  said you should still be aware safety measures to take when meeting up 
  with a stranger.</p>
    <ul>
        <li>Always meet in a well lit, populated area, we greatly encourage user
        to meet at the student union.</li>  
        <li>Always bring a friend with you, or let somone know
        where you're going and when you should be back.</li>
    <li>If selling, only take cash, or a secure app such as Venmo.  Never
    accept cashier checks, wire transfers, or money orders.</li>
    <li>Never give out personal or financial information.</li>
    <li>Never accept and IOU, or accept without seeing the item.  If a deal
    is too good to be true, it probably is.</li>
    <li>Never loan or rent an item.</li>
    <li>If you see an add that is suspicious or obviously a scam or fake, do not 
    contact the seller, just report the ad and we will take care of it.</li>
    </ul>
      <p><strong><font color="red"><center>UNCC Textbook Exchange accepts no responsibility for lost
    items or money</center></font></strong></p>
    
    <h3>How do I log in?</h3>
    <p>         
        To log in, all you have to do is click the login button, and enter your
        credentials.  If you haven't make an account with us yet click the "Sign up Now!"
        link and you will be taken to our sign up page.  After filling out your
        information using your UNCC email address, you will be sent a varification email, once you verify
        you will be ready to use the site! The activation email might have been sent to your spam folder.
    </p>


    <h4>How do I post my ad?</h4>
    <p>
    To post your textbook, click the "Post a new Listing" button.  This will
    take you to a page where you can enter your textbooks name, its isbn, its
    condition, and any additional comments relevant to the textbook.
     </p>

    <h4>How do I contact a user about a listing?</h4>
    <p>
    After viewing the book listings, click on a specific listing using the link under the title column.
    Then click the "Message" button. Type your message in the text box then click "Send Message". An email will 
    automatically be sent and that user can reply to your UNCC email address. Be sure to check your email for 
    any responses.
     </p>
</div>
