<!-- Title Text -->
<div class="column justify-content-center">
    <% provide(:title, "Help") %>
    <h1 class="text-center text-primary">Help</h1>
 
    <h2 class="text-center">Questions and Answers</h2>
</div>
