<div class="container">
    <!-- Account Buttons -->

    <!-- Main Page -->
    <div class="row shadow bg-white justify-content-center p-3 m-4">
        <!-- Title Text -->
        <div class="row justify-content-center">
            <h1 class="text-center text-primary">Welcome to UNCC Textbook Exchange</h1>
            <h2 class="text-center">Swap, Sell, and Purchase Textbooks</h2>
        </div>
        
        <!-- Navigation Buttons -->
        <div class="row justify-content-center w-60 btn-block">
            <%= button_to 'Book List', listings_url, :class => "btn btn-outline-primary btn-block mt-3", :method => :get %>
            <%= button_to 'Post Testbook', new_listing_url, :class => "btn btn-outline-primary btn-block mt-3", :method => :get %>
            <%= button_to 'About', about_url, :class => "btn btn-outline-primary btn-block mt-3", :method => :get %>
            <%= button_to 'Help', help_url, :class =>"btn btn-outline-primary btn-block mt-3", :method => :get %>
        </div>
    </div>
</div>