
<div class="account">
    <button class="account-button">Log In</button>
</div>
<div class="main">
    <h1>Welcome to UNCC Textbook Exchange</h1>
    <h2>Swap, Sell, and Purchase Textbooks</h2>
    <button_to class="full-button">Book List</button>
    <button class="full-button">Post Textbook Listing</button>
    <button class="full-button">About</button>
    <button class="full-button">Help</button>
</div>