<h1 class='text-primary'>UNCC Textbook Exchange</h1>

<p>
    Hello,
</p>

<p>
    <%= @message %>
</p>

<p>
    Thank you for your time,<br>
    <%= @user.fname %><br>
    <%= @user.email %><br>
</p>