<p>
    <strong>Name:</strong>
    <%= @report.name %>
</p>

<p>
    <strong>Email:</strong>
    <%= @report.email %>
</p>

<p>
    <strong>Reason:</strong>
    <%= @report.reason %>
</p>


<%= link_to 'Report List', reports_path %>