<div class="row justify-content-center w-100">
    <% provide(:title, "Reports") %>
  <h1 class="text-primary">Thank you for your Report!</h1>
</div>

<div class="row w-100">
    <h2>Name:  </h2>
    <br/>
    <%= @report.name %>
</div>

<div class="row w-100">
    <h2>Email:  </h2>
    <br/><br/>
    <%= @report.email %>
</div>

<div class="row w-100">
    <h2>Reason:  </h2>
    <br/>
    <%= @report.reason %>
</div>


<%= link_to 'Back to Book Listings', root_url %>